HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
### VS Code ###
.vscode/

#IGNORAR ARCHIVOS JAR
*.jar

# ARCHIVOS INNCESARIOS
SQL_PrivilegeModule_TypeUser.txt